Checks: '
        bugprone*,
        cert*,
        clang-analyzer*,
        google*,
        llvm-*,
        linuxkernel-must-check-errs,
        misc*,
        modernize*,
        performance*,
        portability*,
        readability*,
'
WarningsAsErrors: '*'
FormatStyle: file
...

